apps/admin/config.ini.php
apps/oauth2demo/config.ini.php

# Excudle html output of api blueprint
RESTController/extensions/ilias_app*/apiblueprint/*.html

# Deliver vendor directory as temporary work around in order to ease deployment.
# /vendor/
